<h1 class="h1">Second Opinion</h1>
<%= form_for @log do |form| %>

	<div class="element">
		<%= form.label :activity, "Current Diagnosis", class: "h2" %>
	</div>
	<div>
		<%= form.text_field :activity, class: "form_field" %>
	</div>

	<div class="element">
		<%= form.label :location, "Prefered Location", class: "h2" %>
	</div>
	<div>
		<%= form.text_field :location, class: "form_field" %>
	</div>

	<div class="element">
		<%= form.label :people, "Insurance Company", class: "h2" %>
	</div>
	<div>
		<%= form.text_field :people, class: "form_field" %>
	</div>

	<div>
		<%= form.submit "Submit", class: "btn h1"%>
	</div>

<% end %>